@import '../lib/bootstrap-sass/assets/stylesheets/_bootstrap';

// Colors
$user-bubble: #4e4ff5;
$user-text: white;
$bruno-bubble: #eee;
$bruno-text: #333;

$background-color: #fcfcfc;

// Fill Page
html,
body {
  height: 100%;
	margin: 0px;
}

body {
	background-color: gray;
	margin: 0px;
	background-color: $background-color;
	padding-top: 60px; //Navbar Offset
}

// Used to make a links with no href render correctly.
// A links are instead used to trigger javascript functions.
// See: .bubble-img-link Lightboxes
.fake-link {
    cursor: pointer;
}

// Navbar Styles
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
	color: #333 !important;
    letter-spacing: 2px;
}

.navbar-nav{
	margin-left: -15px !important;
}

.navbar-collapse.collapse {
	display: block!important;
}

.navbar-nav>li, .navbar-nav {
	float: left !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: -15px !important;
}

.navbar-right {
	float: right!important;
}

// Sticky Footer/Command Bar Wrapper
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -0px auto;
  /* Pad bottom by footer height */
  padding: 0 0 0px 0;
}

.wrap-show {
	animation: wrap-slide-up 0.75s forwards;
}

/*@keyframes wrap-slide-up {
	0% {
        margin: 0 auto 0px auto;
        padding: 0 0 0px 0;
    }
	100% {
        margin: 0 auto -55px auto;
        padding: 0 0 55px 0;
    }
}*/

.wrap-hide {
	animation: wrap-slide-down 0.75s forwards;
}

/*@keyframes wrap-slide-down {
	0% {
        margin: 0 auto -55px auto;
        padding: 0 0 55px 0;
    }
	100% {
        margin: 0 auto 0px auto;
        padding: 0 0 0px 0;
    }
}*/

// Sticky Footer/Command Bar
#footer {
  height: 0px;
  background-color: #f8f8f8;
  //border-top: solid #e7e7e7 1px;
  overflow: hidden;
}

.footer-show {
	animation: footer-slide-up 0.75s forwards;
}

/*@keyframes footer-slide-up {
	0% { height: 0px; }
	100% { height: 55px; }
}*/

.footer-hide {
	animation: footer-slide-down 0.75s forwards;
}

/*@keyframes footer-slide-down {
	0% { height: 55px; }
	100% { height: 0px; border: none; }
}*/

// Fake Text Box
#commands {
	//height: 40px;
	width: 100%;
	margin: 5px auto 5px auto;
	border-radius: 10px;
	background-color: white;
    border: solid 1px #e7e7e7;
    padding: 0px 0px 5px 0px;

    text-align: center;
}

.choice {
    background-color: $user-bubble;
    color: $user-text;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;

    display: inline-block;

    padding: 7px 10px 7px 10px;

    margin: 5px 15px 0px 5px;
    position: relative;
    cursor: pointer;
}

.choice:before {
    border-style: solid;
    border-width: 10px 0px 0px 10px;
    border-color: transparent transparent transparent $user-bubble;
    position: absolute;
	bottom: 0;
	right: -10px;
    content: "";
}

a.choices {
    text-decoration: none !important;
}

.choices {
    text-decoration: none;
    a:hover {
        text-decoration: none !important;
    }
    a:focus {
        text-decoration: none !important;
    }
    a:hover {
        text-decoration: none !important;
    }
    a:hover, a:focus {
        text-decoration: none !important;
    }
    a:active {
        text-dcoration: none !important;
    }
}

// Bruno-Specific Styles
#bruno-chat {
	background-color: #fcfcfc;
	margin: 0px 0px 0px 0px;
	padding-bottom: 10px;
	overflow: hidden;
}

// General Bubble Styles
.bubble {
	max-width: 50%;
	padding: 7px 10px 7px 10px;
	margin-top: 7 px;

    clear: both;
    position: relative;

	font-family: Arial;
}

// Right Bubble Stylings
.bubble-right {
	float: right;
	text-align: right;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;

	margin-right: 15px;

	background-color: $user-bubble;
	color: white;

	right: -50vw;
}

.bubble-right:before {
	border-style: solid;
	border-width: 10px 0px 0px 10px;
	border-color: transparent transparent transparent $user-bubble;
	position: absolute;
	bottom: 0;
	right: -10px;
	content: "";
}

.bubble-right-img {
	float: right;
	text-align: right;

	margin-right: 15px;
	padding: 0px;

	right: -50vw;
}

.bubble-right-img img {
	max-width: 100%;
	max-height: 100%;

	border-radius: 10px;
}

.bubble-right-animate {
	animation: bubble-right 0.75s forwards;
}

@keyframes bubble-right {
	0% { right: -50vw}
	100% { right: 0px; }
}

.bubble-right-animate-exit {
	animation: bubble-right-exit 0.75s forwards;
}

@keyframes bubble-right-exit {
	0% { right: 0px; }
	100% { right: -50vw; }
}

// Left Bubble Stylings
.bubble-left-container {
    float: left;
	text-align: left;

    width: 100%;
    height: 100%;

	margin-left: 0px;

    background-color: none;
    overflow: visible;
}

.bubble-link {
    display: flex;
    flex-direction: column;
}

.bubble-link:hover {
    text-decoration: none;
}

.bubble-column {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bubble-link-item {
    flex: 0 1 auto;
}

.bubble-link-icon {
    flex: 0 0 auto;
    padding-left: 5px;
    margin-top: 7px;
	left: -50vw;
    clear: both;
    position: relative;
    //margin: 15px 5px 10px 5px;
}

.bubble-link-text {
    //margin-top: -2px;
    margin-left: 25px;
    font-size: 12px;
    color: gray;
    left: -50vw;
    clear: both;
    position: relative;
}

.bubble-left {
    flex: 0 0 auto;

	float: left;
	text-align: left;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 10px;

	margin-left: 15px;

	background-color: $bruno-bubble;
	color: $bruno-text;

	left: -50vw;
}

.bubble-left:before {
	border-style: solid;
	border-width: 0px 0px 10px 10px;
	border-color: transparent transparent $bruno-bubble transparent;
	position: absolute;
	bottom: 0;
	left: -10px;
	content: "";
    color: $bruno-bubble;
}

.bubble-left-img {
	float: left;
	text-align: left;

	margin-left: 15px;
	padding: 0px;

	left: -50vw;
}

.bubble-left-img img {
	max-width: 100%;
	max-height: 100%;

	border-radius: 10px;
}

.bubble-left-animate {
	animation: bubble-left 0.75s forwards;
}

@keyframes bubble-left {
	0% { left: -50vw; }
	100% { left: 0px; }
}

.bubble-left-animate-exit {
	animation: bubble-left-exit 0.75s forwards;
}

@keyframes bubble-left-exit {
	0% { left: 0px; }
	100% { left: -50vw; }
}

.bubble-typing {
	padding: 7px 10px 7px 10px;
    //position: absolute; top: 0; left: 0;
}

.bubble-disconnected {
    clear: both;
    position: relative;
    right: -50vw;
    float: left;
    text-align: left;

    font-size: 12px;
    color: gray;

    margin-top: 0px;
    margin-left: 15px;
    padding-bottom: 0px;
    padding-left: 0px;
}


.bubble-disconnected-animate {
	animation: bubble-disconnected 0.75s forwards;
}

@keyframes bubble-disconnected {
	0% { left: -50vw; }
	100% { left: 0px; }
}

// Typing Indicator Bubble
.circle {
	display: inline-block;
	width: 0.75em;
	height: 0.75em;
	border-radius: 0.75em;
	background: gray;
	margin: 0em 0.1em 0em 0.1em;

	animation: color-change 1.5s infinite;
}

@keyframes color-change {
	0% { background: gray; }
	25% { background: #ccc; }
	50% { background: gray; }
	75% { background: gray; }
	100% { background: gray; }
}

.dot1 {
	animation-delay: 0s;
}

.dot2 {
	animation-delay: .33s;
}

.dot3 {
	animation-delay: .66s;
}

// Lightbox

#lightbox {
    display: none;
    opacity: 0;
    background-color: rgba(50,50,50,0.9);

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.lightbox-show {
	animation: lightbox-show 0.5s forwards;
}

@keyframes lightbox-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.lightbox-hide {
	animation: lightbox-hide 0.5s forwards;
}

@keyframes lightbox-hide {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#lightbox-container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    width: 100%;
    height: 100%;
}

#lightbox-image {
    max-width: 100%;
    max-height: 100%;
}

// details

#details {
    display: none;
    opacity: 0;
    background-color: $background-color;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.details-show {
	animation: details-show 0.5s forwards;
}

@keyframes details-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.details-hide {
	animation: details-hide 0.5s forwards;
}

@keyframes details-hide {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#details-container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    p {
        text-align: center;
    }
}

// settings

#settings {
    display: none;
    opacity: 0;
	background-color: $background-color;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

.settings-show {
	animation: settings-show 0.5s forwards;
}

@keyframes settings-show {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.settings-hide {
	animation: settings-hide 0.5s forwards;
}

@keyframes settings-hide {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

#settings-container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    p {
        text-align: center;
    }
}

#settings-image {
    max-width: 100%;
    max-height: 100%;
}
